/* ==================================================================
  Corporea
   ================================================================== */


/* ==================================================================
  Global Classes
   ================================================================== */

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.left{
  float: left !important;
}

.right{
  float: right !important;
}

.fill{
  width: 100%;
}

.light{
  font-weight: 300;
}

.thin{
  font-weight: 100;
}

.century{
  font-family: "Century";
}

.line{
  width: 100%;
  border-top: 1px solid #5d6265;
}

/* ==================================================================
   Fonts
   ================================================================== */


@font-face {
    font-family: "Century";
    src: url("../fonts/CenturySchoolbook.woff") format('woff');
    font-weight: normal;
}

*{
  font-family: "Roboto", sans-serif;
}

/* ==================================================================
   Main Container
   ================================================================== */

#main-container{
  background-color: #fff;
  z-index: 10;
  position: relative;
}

/* ==================================================================
   Navigation
   ================================================================== */
#nav-container{
  z-index: 1030;
  position: fixed;
}

#main-nav{
  text-transform: uppercase;
  background-image: none !important; 
  border: 0px;
  margin-bottom: 0px;
}

#main-nav .container{
}

#main-nav.black .nav li a,
#main-nav.black i{
  color: #d6d6d6;
  font-weight: 300;
  -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

#main-nav.black{
  background-color: #2f3336;
  -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}

#main-nav .navbar-brand{
  padding: 20px 0 0 10px;

  -webkit-transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
}

#main-nav.black .navbar-brand{
  padding: 10px 0 0 10px;

  -webkit-transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
}

#main-nav.black .navbar-brand img{
  height: 60px;
  padding-top: 5px;
  -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
}

#main-nav.white .nav li a,
#main-nav.white i{
  color: #2f3336;
  font-weight: 300;
  -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

#main-nav.white .nav li a{
  padding-top: 35px;
  padding-bottom: 35px;
}

#main-nav.black .nav li a{
  padding-top: 25px;
  padding-bottom: 25px;

  -webkit-transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
}

#main-nav .nav li a:hover{
  background-color: #eaeaea;
  color: #2f3336;
}

#main-nav.white{
  background-color: #fff;
  -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}

.navbar-brand{
  padding: 0;
}

.navbar-toggle{
  border: 0px !important;
}

.navbar-toggle:hover i{
  color: #000 !important;
  -webkit-transition: color 0s ease-in-out;
    -moz-transition: color 0s ease-in-out;
    transition: color 0s ease-in-out;
}

.navbar-brand img{
  height: 70px;
  padding-left: 15px;
  margin-top: -10px;
} 

.navbar-collapse{
  border: 0px !important;
}

#logo-white{
  -webkit-transition: display .5s ease-in-out;
    -moz-transition: display .5s ease-in-out;
    transition: display .5s ease-in-out;
}

#logo-black{
  display: none;
  height: 60px;
  -webkit-transition: display .5s ease-in-out;
    -moz-transition: display .5s ease-in-out;
    transition: display .5s ease-in-out;
}

/* ==================================================================
   Dropdown
   ================================================================== */
#dropdown{
  width: 100vw;
  background-color: #eaeaea;
  height: 50px;
  display: none;
}

#dropdown.moveUp{
  margin-top: -20px;
  -webkit-transition: margin .5s ease-in-out;
    -moz-transition: margin .5s ease-in-out;
    transition: margin .5s ease-in-out;
}


/* ==================================================================
   Home Hero
   ================================================================== */
#home-hero{
  width: 100%;
  margin-top: 90px;
  background-size: cover;
}

#home-hero .container{
  padding-top: 400px;
}

#home-slider .item{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}

#home-slider .item h1{
  font-size: 55px;
  font-weight: 300;
}

#home-slider .item p,
#home-slider .item a{
  font-weight: 300;
  font-size: 30px;
}

#home-slider .slide-text a{
  color: #2f3336;
}

#home-slider .slide-text a:hover{
  cursor: pointer;
  text-decoration: underline;
}

#home-slider .owl-controls{
  margin-top: -40px;
  cursor: pointer;
  z-index: 1020;
}

#home-slider .owl-controls .owl-page.active > span{
  background-color: #000;
  opacity: 0.5;
}

/* ==================================================================
   About
   ================================================================== */
#about{
  background-color: #e295a7;
  /*  #61556b #e295a7 #964f4d #e2767b*/
  color: #fff;
}

#about h1,
#about h2,
#about h3{
  font-size: 20px;
  line-height: 32px;
  font-family: "Roboto Slab", serif;
}

#about b{
  font-weight: 400;
}

#about .container{
  padding-top: 50px;
  padding-bottom:  50px;
}

/* ==================================================================
   Promociones
   ================================================================== */

#promociones{
  width: 100%;
  background-position: center center;
  background-size: cover;
  color: #3f291b;
  background-color: rgba(234, 234, 234, 0.6);
  text-transform: uppercase;
}

#promociones a{
  color: #573518;
  font-size:20px;
  text-decoration: underline;
}

#promociones .container{
  padding-top: 100px;
  padding-bottom: 100px;
}

#promociones .overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(234, 234, 234, 0.6);
  z-index: 100;

  -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

#promociones .overlay:hover{
  background-color: rgba(234, 234, 234, 0.45);

  -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.promocion{
  padding: 0px;
}

.promo {
  padding: 0px;
  margin: 5px 5px;
  background-size: cover;
  background-position: center center;
}

.promo h3 {
  font-size: 40px;
  font-weight: 300;
}

.promo h2{
  font-weight: 300;
}

.promo p {
  font-size: 14px;
  font-weight: 300;
  padding: 0px 10px 10px;
}

#promociones_page .overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(234, 234, 234, 0.5);
  z-index: 1001;

  -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

#promociones_page .overlay:hover{
  background-color: rgba(234, 234, 234, 0.2);

  -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}


.banner-footer a {
  color:white;
}

#titulo-promos {
  font-size: 50px;
}
/* ==================================================================
   Procedimientos
   ================================================================== */

#procedimientos{
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #eaeaea;
}

#procedimientos a{
  color: #000;
}

#procedimientos a:hover{
  text-decoration: none;
}

#procedimientos .overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(234, 234, 234, 0.5);
  z-index: 100;

  -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

#procedimientos .overlay:hover{
  background-color: rgba(234, 234, 234, 0.1);

  -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.seccion-procedimientos{
  background-size: cover;
  background-image: center center;
}

.titulo-procedimiento{
  padding-top: 120px;
  padding-bottom: 120px;
  font-weight: 300;
  text-transform: uppercase;
}

/* ==================================================================
   Page
   ================================================================== */
.page-container{
  margin-top: 90px;
}

/* ==================================================================
   Page-Contacto
   ================================================================== */
#contacto{
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: #dddddd;*/
  min-height: 700px;
  background-position: center center; 
  color: #fff;
}

#contacto a{
  color: #E6E6E6;
  text-decoration: underline;
}

.contact-sheet{
  margin-top: 20px;
  margin-bottom: 20px;
}

#contact-form{
  background-color: rgba(251, 251, 251, 0.6);
  padding: 10px;
}

#contact input,
#contact textarea,
#contacto .form-control{
  border-radius: 0px !important;
  margin-bottom: 15px;
}

#contact-info-container{
  background-color: rgba(251, 251, 251, 0.6);
  color: #515151;
}

#contact-info a{
  color: #515151;
}

#contacto .form-group{
  margin: 0px;
}

#contacto .btn {
  color: #747474;
}

#contact-form input,
#contact-form textarea{
  background-color: rgba(251, 251, 251, 0.85);
  border: 0px;
}

#contacto-button{
  width: 100%;
  border: 0px;
  border-radius: 0px;
  background-color: #e2767b;
  color: #fff !important;
}

/* ==================================================================
   Certificaciones
   ================================================================== */
#certificaciones{
  padding-top: 20px;
  padding-bottom: 20px;
}

#certificaciones img{
  height: 80px;
}

/* ==================================================================
   Quiénes Somos
   ================================================================== */
#quienes-intro{
  height: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#quienes-intro p{
  font-size: 18px;
}

#quienes-intro h1{
  font-size: 50px;
}

#quienes-intro h3{
  font-size: 36px;
  margin-top: 5px;
}

#quienes-intro .container{
  padding-top: 20px;
}

/* ==================================================================
   Doctor
   ================================================================== */
#quienes-doctor{
  background-color: #eaeaea;
}

#quienes-doctor .container{
  padding-top: 20px;
}

#quienes-doctor .btn-default,
#about .btn-default{
  background-color: #eee;
}

#quienes-doctor .btn-default:hover,
#about .btn-default:hover{
  background-color: #fff;
}

#info-doctor{
  padding-top: 30px;
  padding-bottom: 30px;
}

#titulo-doctor{
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

#titulo-doctor h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ==================================================================
   Footer
   ================================================================== */

footer{
  width: 100%;
  background-color: #2f3336;
  color: #d6d6d6;
  text-transform: uppercase;
}

footer .container{
  padding-top: 10px;
}

footer a{
  color: #d6d6d6;
  text-decoration: none;
}

footer a:hover{
  color: #fff;
  text-decoration: none;
}

footer h4{
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 5px;
  text-decoration: none;
}

#footer-nav{
  /*border-bottom: 1px solid #d6d6d6;*/
}

footer .nav li a{
  font-weight: 100;
  background-color: transparent;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 20px;
}

footer .nav li:first-child a{
  padding-left: 15px;
} 

footer .nav li a:hover{
  font-weight: 100;
  background-color: transparent;
  color: #fff;
}

footer .social-icon{
  height: 40px;
}

#social-nav{
  margin-top: 10px;
}

#social-nav li:first-child a{
  margin-left: 15px;
}

#social-nav li:last-child a{
  margin-right: 15px;
}

#direccion{
  margin-bottom: 20px;
}

.line{
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
}

/* ==================================================================
   Página Financiamiento
   ================================================================== */

#financiamiento_intro {
  height: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100% background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#logos-tarjetas {
  padding-top: 350px;
}

#financiamiento_desc{
  background-color: #EAEAEA;

}

#financiamiento_desc .panel{
  background-color: #EAEAEA;
  border-radius: 0px;
  border-color: #EAEAEA;
  box-shadow: 0 1px 1px rgba(0,0,0,0);
}

.panel-title a {
  color:white;
  text-transform: uppercase;
  font-weight: 300; 
}

#financiamiento_desc .panel-heading{
  background-color: #757E82;
  border-radius: 0px;
  box-shadow: 0 rgba(0,0,0,0);
}


#procedimiento_intro{
  height: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100% background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* ==================================================================
   Procedimiento
   ================================================================== */

#container-nav .container{
  padding: 0px;
  margin: 0px;
  width: 100%;

}
#container-nav{
  width:100%;
  background-color: white; 
}

.tab-pane {
  background-color: white;

}

#procedimiento_desc li{

}

#procedimiento_desc .nav-tabs {
  border-bottom: none; 
  background-color: #DF96A7; 
}

#procedimiento_desc .nav-tabs .active{
  background-color: #DF96A7; 
  margin: 0px;
  height:100%;
}


#procedimiento_desc .nav-tabs a{
  background-color: #DF96A7; 
  color: white;
  border: none;

  margin-top: 40px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 40px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  
  border-radius: 1px;

  font-weight: 100;
  text-transform: uppercase;
}


#procedimiento_desc .nav-tabs .active a{
  border: 1px solid white;
  background-color: #DF96A7; 
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 9px;
  padding-left: 9px;
  
  /*
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 7px;
  */


}

#procedimiento_desc .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

#procedimiento_desc .nav-tabs, .nav-pills {
    text-align:center;
}

/* ==================================================================
   Media Queries
   ================================================================== */


@media only screen and (max-width: 1170px){

  #main-nav .nav li a{
    padding-left: 5px;
    padding-right: 5px;
  }

}

@media only screen and (max-width: 992px){

  #main-nav .nav li a{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }

  #quienes-intro .col-sm-6{
    background-color: rgba(255, 255, 255, 0.6);
  }
}

@media only screen and (max-width: 768px){

  #home-hero{
    margin-top: 60px;
  }

  .page-container{
    margin-top: 90px;
  }

  .navbar-brand img{
    margin-top: 0px;
    height: 60px;
    padding-top: 0px;
  }

  #main-nav .navbar-brand{
    padding-top: 0px;
  }

  #main-nav.black .navbar-brand{
    padding-top: 0px;
  }

  #main-nav.black .navbar-brand img{
    height: 60px;
    padding-top: 0px;
  }

  #main-nav .container{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #home-slider .slide-text{
    background-color: rgba(251, 251, 251, .6);
    padding: 15px;
  }

  #home-slider .item h1{
    font-size: 25px;
  }

  #home-slider .item p,
  #home-slider .item a{
    font-size: 16px;
  }

  #main-nav .nav li a{
    text-align: center;
  }

  #main-nav.white .nav li a{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #main-nav.black .nav li a{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #promociones h1{
    font-size: 32px;
  }

  footer .nav li:first-child a{
    padding-left: 0px;
  } 

  #social-nav li:first-child a{
    margin-left: 0px;
  }

  #social-nav li:last-child a{
    margin-right: 0px;
  }

  #contacto{
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 400px;
  }

  #contact-info{
    background-color: rgba(251, 251, 251, 0.6);
    padding: 10px;
    color: #515151;
  }

  #contact-info-container{
    background-color: transparent;
  }

  #contact-form{
    background-color: rgba(251, 251, 251, 0.6);
  }

  #contact-info a{
    color: #515151;
  }

  .promo h3{
    font-size: 30px;
  }

  .promo h2{
    font-size: 20px;
  }

  #certificaciones img{
    height: 60px;
    margin-bottom: 10px;
  }

  #certificaciones{
    padding-bottom: 10px;
  }

}
