/* ==================================================================
	Corporea
   ================================================================== */


/* ==================================================================
	Global Classes
   ================================================================== */

.center{
 	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.left{
	float: left !important;
}

.right{
	float: right !important;
}

.fill{
	width: 100%;
}

.light{
	font-weight: 300;
}

.thin{
	font-weight: 100;
}

/* ==================================================================
   Main Container
   ================================================================== */

#main-container{
	background-color: #fff;
  z-index: 10;
}

/* ==================================================================
   Navigation
   ================================================================== */

#main-nav{
	text-transform: uppercase;
	background-image: none !important; 
  border: 0px;
}

#main-nav .container{
	padding-top: 20px;
	padding-bottom: 20px;
}

#main-nav.black .nav li a,
#main-nav.black i{
	color: #d6d6d6;
  font-weight: 300;
	-webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

#main-nav.black{
	background-color: #2f3336;
	-webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}

#main-nav.white .nav li a,
#main-nav.white i{
	color: #2f3336;
  font-weight: 300;
	-webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

#main-nav.white .nav li a:hover{
  color: #d6d6d6;
}

#main-nav.black .nav li a:hover{
  color: #fff;
}

#main-nav.white{
	background-color: #fff;
	-webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}

.navbar-brand{
	padding: 0;
}

.navbar-toggle{
  border: 0px !important;
}

.navbar-toggle:hover i{
  color: #000 !important;
  -webkit-transition: color 0s ease-in-out;
    -moz-transition: color 0s ease-in-out;
    transition: color 0s ease-in-out;
}

.navbar-brand img{
	height: 70px;
  padding-left: 15px;
  margin-top: -10px;
} 

.navbar-collapse{
  border: 0px !important;
}

#logo-white{
	-webkit-transition: display .5s ease-in-out;
    -moz-transition: display .5s ease-in-out;
    transition: display .5s ease-in-out;
}

#logo-black{
	display: none;
	-webkit-transition: display .5s ease-in-out;
    -moz-transition: display .5s ease-in-out;
    transition: display .5s ease-in-out;
}

/* ==================================================================
   Home Hero
   ================================================================== */

#home-hero{
  width: 100%;
  margin-top: 90px;
  background-size: cover;
  background-position: center center;
}

#home-hero .container{
  padding-top: 400px;
}

/* ==================================================================
   About
   ================================================================== */
#about{
  background-color: #61556b;
  color: #fff;
}

#about .container{
  padding-top: 50px;
  padding-bottom:  50px;
}

/* ==================================================================
   Doctor
   ================================================================== */
#doctor{
  background-color: #eaeaea;
}

#doctor .btn-default,
#about .btn-default{
  background-color: #eee;
}

#doctor .btn-default:hover,
#about .btn-default:hover{
  background-color: #fff;
}

#info-doctor{
  padding-top: 30px;
  padding-bottom: 30px;
}

#titulo-doctor{
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

#titulo-doctor h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ==================================================================
   Promociones
   ================================================================== */

#promociones{
  width: 100%;
  background-position: center center;
  background-size: cover;
  color: #3f291b;
  background-color: rgba(234, 234, 234, 0.6);
  text-transform: uppercase;
}

#promociones a{
  color: #82532b;
}

#promociones .container{
  padding-top: 100px;
  padding-bottom: 100px;
}

#promociones .overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(234, 234, 234, 0.6);
  z-index: 100;

  -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

#promociones .overlay:hover{
  background-color: rgba(234, 234, 234, 0.45);

  -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

/* ==================================================================
   Procedimientos
   ================================================================== */

#procedimientos{
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #eaeaea;
}

#procedimientos a{
  color: #000;
}

#procedimientos a:hover{
  text-decoration: none;
}

#procedimientos .overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(234, 234, 234, 0.5);
  z-index: 100;

  -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

#procedimientos .overlay:hover{
  background-color: rgba(234, 234, 234, 0.1);

  -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.seccion-procedimientos{
  background-size: cover;
  background-image: center center;
}

.titulo-procedimiento{
  padding-top: 120px;
  padding-bottom: 120px;
  font-weight: 300;
  text-transform: uppercase;
}

/* ==================================================================
   Page
   ================================================================== */
.page-container{
  margin-top: 90px;
}

/* ==================================================================
   Page-Contacto
   ================================================================== */
#contacto{
  padding-top: 30px;
  padding-bottom: 30px;
}


/* ==================================================================
   Footer
   ================================================================== */

footer{
  width: 100%;
  background-color: #2f3336;
  color: #d6d6d6;
  text-transform: uppercase;
}

footer .container{
  padding-top: 10px;
}

footer a{
  color: #d6d6d6;
  text-decoration: none;
}

footer a:hover{
  color: #fff;
  text-decoration: none;
}

footer h4{
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 5px;
  text-decoration: none;
}

#footer-nav{
  /*border-bottom: 1px solid #d6d6d6;*/
}

footer .nav li a{
  font-weight: 100;
  background-color: transparent;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 20px;
}

footer .nav li:first-child a{
  padding-left: 15px;
} 

footer .nav li a:hover{
  font-weight: 100;
  background-color: transparent;
  color: #fff;
}

footer .social-icon{
  height: 40px;
}

#social-nav{
  margin-top: 10px;
}

#social-nav li:first-child a{
  margin-left: 15px;
}

#social-nav li:last-child a{
  margin-right: 15px;
}

#direccion{
  margin-bottom: 20px;
}

.line{
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
}



/* ==================================================================
   Media Queries
   ================================================================== */
@media only screen and (max-width: 768px){

  #home-hero{
    margin-top: 60px;
  }

  .navbar-brand img{
    margin-top: 0px;
    height: 60px;
  }

  #main-nav .container{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #main-nav .nav li a{
    text-align: center;
  }

  footer .nav li:first-child a{
    padding-left: 0px;
  } 

  #social-nav li:first-child a{
    margin-left: 0px;
  }

  #social-nav li:last-child a{
    margin-right: 0px;
  }

}














